<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-item>
    <ion-label position = "stacked">id:</ion-label>
    <ion-input placeholder = "input id" [(ngModel)]="inputIn"></ion-input>
  </ion-item>
  <button ion-button full (click)="showScore(inputIn)">Get Score</button>
  <div *ngIf = "score$ | async as sc">
    <ion-card *ngFor = 'let item of sc.data'>
    <ion-card-title>{{item.id}}</ion-card-title>
      <ion-card-content>
        <h3><b>group project: </b>{{item['group']}}</h3>
        <h3><b>final project: </b>{{item['final']}}</h3>
      </ion-card-content>
    </ion-card>
  </div>-->

  <ion-card color = "primary">
  <ion-card-title><b>All student lists</b></ion-card-title>
    <ion-card-content>
      <h3><b>group project: /30</b></h3>
      <h3><b>final project: /70</b></h3>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor = 'let item of itemListData'>
  <ion-card-title>{{item.id}}</ion-card-title>
    <ion-card-content>
      <h3><b>group project: </b>{{item['group']}}</h3>
      <h3><b>final project: </b>{{item['final']}}</h3>
    </ion-card-content>
  </ion-card>

  <!--<ion-list>
    <ion-item *ngFor= "let item of itemListData">
      <p>{{item["id"]}}</p>
      <p>Group project : {{item["group"]}}</p>
      <p>Final project : {{item["final"]}}</p>
    </ion-item>
  </ion-list>-->

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading">
      
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
